@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *)); /* Ye line add karein */

/* 1. Base Variables & Light Mode */
:root {
  --background: #f8f0f0;
  --foreground: #171717;
  --card: #ffffffda;
  --toggle-bg: #e1edf7;
  --button-primary: #0a78be;
  --border: #e2e8f0;
  
  --font-montserrat:"Arial Black";
}

/* 2. Manual Dark Mode Fix */
/* Pehle yahan @media tha, ab .dark class hai jo toggle button ke sath kaam karegi */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --card: #161616;
  --toggle-bg: #1e293b;
  --button-primary: #3b82f6;
  --border: #262626;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-toggle: var(--toggle-bg);
  --color-primary-btn: var(--button-primary);
  --color-border-custom: var(--border);
  
  --font-sans: var(--font-montserrat);
  --font-mono: "JetBrains Mono", "Geist Mono", monospace;
  
  --animate-shimmer: shimmer 2s infinite;
  @keyframes shimmer {
    from { transform: translateX(-100%); }
    to { transform: translateX(100%); }
  }
}

/* 3. Global Styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
  transition: background-color 0.3s ease, color 0.3s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, button, input, textarea, select {
  font-family: var(--font-montserrat);
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 20px;
  }

  .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background: var(--button-primary);
  }
}