@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f8f0f0;
  --foreground: #171717;
  --card: #ffffffda;
  --toggle-bg: #e1edf7;
  --button-primary: #0a78be;
  --border: #e2e8f0;
  --font-Arial:"Arial";
  --tx-black:#101828;
}

.dark {
  --background: #030712;
  --foreground: #ededed;
  --card: #101828;
  --toggle-bg: #101828;
  --button-primary: #432dd7;
  --border: #101828;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-toggle: var(--toggle-bg);
  --color-primary-btn: var(--button-primary);
  --color-border-custom: var(--border);
  --color-tx-black:var(--tx-black)
  
  --font-sans: var(--font-Arial);
  --font-mono: "JetBrains Mono", "Geist Mono", monospace;
  
  --animate-shimmer: shimmer 2s infinite;
  @keyframes shimmer {
    from { transform: translateX(-100%); }
    to { transform: translateX(100%); }
  }
}

body {
    min-height: 100vh;
  background:
    radial-gradient(at top left,     #faf1f1 0%, transparent 70%),
    radial-gradient(at top right,    #e5f0fa 0%, transparent 70%),
    radial-gradient(at bottom left,  #e5f0fa 0%, transparent 70%),
    radial-gradient(at bottom right, #e9f6ee 0%, transparent 70%);
  color: var(--foreground);
  font-family: var(--font-Arial);
  transition: background-color 0.3s ease, color 0.3s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, button, input, textarea, select {
  font-family: var(--font-Arial);
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 20px;
  }

  .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background: var(--button-primary);
  }
}